.create-table {
  height: 35rem;
  width: 25rem;
  padding: calc(6 * var(--default-padding));
  background-color: gray;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
