.create-table {
  padding: calc(6 * var(--default-padding));
  background-color: var(--secondary-color);
  border-radius: var(--default-border-radius);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-table div:last-of-type {
  margin-bottom: 0;
}

.flex {
  margin: var(--default-margin) 0;
  display: flex;
  justify-content: space-between;
}

.flex > * {
  min-width: 8em;
  padding: calc(1.75 * var(--default-padding));
}
