.create-table {
  padding: calc(6 * var(--default-padding));
  background-color: var(--secondary-color);
  border-radius: var(--default-border-radius);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container {
  margin: var(--default-margin) 0;

  display: flex;
  justify-content: space-between;
  gap: var(--default-margin);
}

.share {
  background-color: var(--secondary-color);
  border: 0.05em solid var(--accent-color);
  color: var(--accent-color);
}

.share:hover {
  border-color: var(--secondary-color);
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .button-container {
    flex-direction: column;
  }
}
