.create-table {
  padding: calc(6 * var(--default-padding));
  background-color: var(--secondary-color);
  border-radius: var(--default-border-radius);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex {
  margin: var(--default-margin) 0;
  display: flex;
  justify-content: space-between;
  column-gap: var(--default-margin);
}

.start, .share {
  background-color: var(--secondary-color);
  border: 0.05em solid var(--accent-color);
  color: var(--accent-color);
}