.home-page {
  background-color: var(--primary-color);
  padding: calc(6 * var(--default-padding));
  border-radius: var(--default-border-radius);

  display: flex;
  flex-direction: column;
  justify-content: center;
}
