.home-page {
  background-color: var(--secondary-color);
  padding: calc(6 * var(--default-padding));
  border-radius: var(--default-border-radius);
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin-bottom: calc(0.75 * var(--default-margin));
}

p {
  max-width: 60ch;
  line-height: 2em;
}

.link {
  display: inline-block;
  padding: calc(1.25 * var(--default-padding)) calc(4 * var(--default-padding));
  margin: calc(0.5 * var(--default-margin)) 0;
  background-color: var(--primary-color);
  border-radius: calc(2 * var(--default-border-radius));

  color: var(--background-color);
  text-decoration: none;

  cursor: pointer;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.create-table-container,
.join-table-container {
  margin: var(--default-margin) 0;
}

.flex-container {
  display: flex;
  align-items: center;
  column-gap: var(--default-margin);
}

em {
  color: var(--accent-color);
}
