.Board {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.🔵 {
  background-color: cornflowerblue;
}

.🔴 {
  background-color: coral;
}

.🟢 {
  background-color: chartreuse;
}
