.discardPile {
  background-color: transparent;
  /*
    Center face
    */
  width: fit-content;
  margin: auto;
}

.cell {
  border: var(--card-border);
  border-radius: var(--card-border-radius);

  height: var(--card-height);
  width: var(--card-width);
  aspect-ratio: var(--card-aspect-ratio);

  margin: 0.1em;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0;
}

.cell > *,
.cell {
  font-family: var(--font-family-cards);
  background-color: var(--card-color);
}

.cell.highlighted {
  border: 5px solid green;
}
