.Lobby {
  color: var(--secondary-color);
  padding: calc(3 * var(--default-padding));
  background-color: var(--primary-color);
  border-radius: calc(2 * var(--default-border-radius));
}

.flex-container {
  display: flex;
  flex-direction: row;

  justify-content: center;
  text-align: center;
}

h3 {
  font-size: 0.85em;
  color: var(--background-color);
}

.grid-container {
  display: grid;
  grid-template-columns: 10vw auto 10vw;
}

.grid-header {
  font-weight: 600;
}

.highlight,
.highlight-left-edge,
.highlight-right-edge {
  background-color: var(--accent-color);
}

.highlight-left-edge {
  border-radius: var(--default-border-radius) 0 0 var(--default-border-radius);
}

.highlight-right-edge {
  border-radius: 0 var(--default-border-radius) var(--default-border-radius) 0;
}
