.Lobby {
  color: var(--secondary-color);
  padding: calc(3 * var(--default-padding));
  background-color: var(--primary-color);
  border-radius: calc(2 * var(--default-border-radius));
}

.grid-container {
  display: grid;
  grid-template-columns: 10vw auto 10vw;
  gap: var(--default-margin);
}

.grid-header {
  font-weight: 600;
}