.Player {
  height: 2em;
  width: 8em;
  margin-top: 0.75em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Player_beginner_status {
  min-width: 1em;
}

.Active {
  border: 0.15em solid green;
  border-radius: 0.25em;
}
