.Players {
  background-color: var(--secondary-color);
  padding: var(--default-padding);
  margin: var(--default-margin);
  border-radius: var(--default-border-radius);

  grid-column: 1;
  grid-row-start: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Players > h2 {
  text-decoration: underline;
}
