.Players {
  background-color: rgb(213, 213, 213);
  padding: 1em;
  margin: 0.75em;
  border-radius: 0.25em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Players > h2 {
  text-decoration: underline;
}
