.Scores {
  grid-column: 1;
  grid-row: 1;

  background-color: var(--primary-color);
  padding: var(--default-padding);
  margin: var(--default-margin);
  border-radius: var(--default-border-radius);
}

.Scores h2 {
  text-align: center;
  padding-bottom: calc(var(--default-padding) / 2);
}

.Two-teams,
.Three-teams {
  display: grid;
}

.Two-teams {
  grid-template-columns: repeat(2, auto);
}

.Three-teams {
  grid-template-columns: repeat(3, auto);
}

.Score {
  text-align: center;
}
