.Scores {
  grid-column: 1;
  grid-row: 1;

  background-color: var(--primary-color);
  padding: var(--default-padding);
  margin: var(--default-margin);
  border-radius: var(--default-border-radius);
}

.Scores h2 {
  text-align: center;
  padding-bottom: calc(var(--default-padding) / 2);
}

.Scores-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Score {
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * var(--default-margin));
  text-align: center;
}
