*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Segoe UI Emoji", sans-serif;
  font-size: 2em;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Custom variablse */
  --default-padding: calc(1em / 3);
  --default-margin: 0.75em;
  --default-border-radius: 0.25em;
  --secondary-color: rgb(213, 213, 213);

  /* Playing card dimensions */
  --card-height: auto;
  --card-width: 2.55em;
  --card-aspect-ratio: 0.7;
  --card-border: 0.02em solid black;
  --card-border-radius: 0.15em;
  --card-color: #ffffff;
}
