*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Custom variablse */
  --font-family: sans-serif;
  --default-font-size: clamp(0.95em, 3.35vw, 1.4em);
  --default-padding: calc(1em / 3);
  --default-margin: 0.75em;
  --default-border-radius: 0.25em;

  /* Dark color theme */
  --text-color: hsl(285 13% 94%);
  --background-color: hsl(280 12% 5%);
  --primary-color: hsl(104 12% 63%);
  --secondary-color: hsl(283 14% 10%);
  --accent-color: hsl(105 12% 50%);
  --primary-color-darker: hsl(104 12% 40%);

  /* Playing card dimensions */
  --card-height: auto;
  --card-width: 2.55em;
  --card-aspect-ratio: 0.7;
  --card-border: 0.02em solid black;
  --card-border-radius: 0.15em;
  --card-color: #ffffff;

  font-family: var(--font-family);
  font-size: var(--default-font-size);
}

html,
body,
#root {
  min-height: 100vh;
  background-color: var(--background-color);
}

input[type="text"],
input[type="text"]:focus {
  font-size: inherit;
  font-family: inherit;

  padding: 0.420625em 0.5em;
  margin: 0.5em 0;
  border-radius: calc(2 * var(--default-border-radius));

  color: var(--accent-color);
  border: none;
  outline: none;
}

button {
  min-width: 8em;
  padding: calc(1.5 * var(--default-padding)) calc(4 * var(--default-padding));

  border: none;
  border-radius: calc(2 * var(--default-border-radius));

  font-size: var(--font-size);
  text-decoration: none;
  cursor: pointer;
}
